version: '3.9'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ofm_backend
    env_file:
      - ./backend/.env
    environment:
      NODE_ENV: production
      PORT: 3000
    expose:
      - "3000"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ofm_frontend
    depends_on:
      - backend
    ports:
      - "8000:80"   # http://localhost:8000
    restart: unless-stopped
